bibliography.log
Makatun_Thesis_Statement_draft1.aux
Makatun_Thesis_Statement_draft1.bbl
*.log
Makatun_Thesis_Statement_draft1.blg
*.gz
*.toc
Makatun_Thesis_Statement_draft1.pdf
Makatun_Thesis_Statement_draft1-blx.bib
Makatun_Thesis_Statement_draft1.run.xml
Makatun_Thesis_Statement_draft11-blx.aux
Makatun_Thesis_Statement_draft1.bcf
Makatun_Publications-blx.bib
Makatun_Publications.aux
Makatun_Publications.blg
Makatun_Publications.pdf
Makatun_Publications.run.xml
Makatun_Publications.bbl
Makatun_Publications1-blx.aux